{% extends "clipboard/main.html" %}

    {% block content %}
    
    <header class="container">
        
        <section class="row">
            <article class="col-md-2 text-center">
            </article>



            <article class="col-md-8 text-center">
                <div class="card text-center">
                    <div class="card-header">
                      Add word
                    </div>
                    <div class="card-body">
                        <form>
                            <section class="row">
                                <article class="col-sm-6 text-center">
                                    <div class="form-group">
                                        <input type="email" class="form-control text-center" id="exampleFormControlInput1" placeholder="Polish word">
                                </article>
                                <article class="col-sm-6 text-center">    
                                        <input type="email" class="form-control text-center" id="exampleFormControlInput1" placeholder="Spanish word">
                                    
                                </article>
                            </section>
                            <section class="row">
                                <article class="col-sm-12 text-center">
                                    <hr>
                                    <div class="form-group">
                                        <input type="email" class="form-control text-center" id="exampleFormControlInput1" placeholder="Etymology">
                                    </div>
                                    <hr>
                                </article>
                            </section>
                            <section class="row">
                                <article class="col-sm-4 text-center">
                                    <div class="form-group">
                                        <a href="#" class="btn btn-secondary">Italian</a>
                                    </div>
                                </article>
                                <article class="col-sm-4 text-center">
                                    <div class="form-group">
                                        <a href="#" class="btn btn-secondary">Portugese</a>
                                    </div>
                                </article>
                                <article class="col-sm-4 text-center">
                                    <div class="form-group">
                                        <a href="#" class="btn btn-secondary">Latin</a>
                                    </div>
                                </article>
                            </section>
                            <section class="row">
                                <article class="col-sm-12 text-center">
                                    <hr>
                                    <div class="form-group">
                                        <textarea class="form-control text-center" id="exampleFormControlTextarea1" placeholder="Notes to word" rows="2"></textarea>
                                    </div>
                                    <hr>
                                </article>
                            </section>
                        </form>
                      <a href="#" class="btn btn-success ">Add word</a>
                    </div>
                    <footer class="card-footer">
                        Words added today
                    </footer>
                    <div class="card-body">
                        <section class="row">
                            <article class="col-sm-3 text-center bg-light">
                                
                                Spanish
                                
                            </article>
                            <article class="col-sm-3 text-center bg-white">
                                
                                Polish
                                
                            </article>
                            <article class="col-sm-2 text-center bg-light">
                                
                                Date
                                
                            </article>
                            <article class="col-sm-2 text-center bg-white">
                                
                                Hour
                                
                            </article>
                            <article class="col-sm-2 text-center bg-light">
                                
                                Details
                                
                            </article>
                        </section>
                        <hr>



                        {% for word in words %}
                        <section class="row">
                            <article class="col-sm-3 text-center bg-light">
                                
                                {{word.spanish_word}}
                                
                            </article>
                            <article class="col-sm-3 text-center bg-white">
                                <div class="form-group">
                                    {{word.polish_word}}
                                </div>
                            </article>
                            <article class="col-sm-2 text-center bg-light">
                                
                                {{word.date_added.date}}
                                
                            </article>
                            <article class="col-sm-2 text-center bg-white">
                                
                                {{ word.date_added|date:"H:i" }}
                            </article>
                            <article class="col-sm-2 text-center bg-success border border-white border-2">
                                <a href="#" class="btn shadow-none text-light ">View</a>
                            </article>
                        </section>


                        {% endfor %}

                    </div>
                </div>
            </article>




            <article class="col-md-2 text-center">
            </article>
        </section>
        
        
    

    </header>
{% endblock %}
