{% extends "clipboard/main.html" %}
{% load widget_tweaks %}
    {% block content %}
    
    <header class="container">
        
        <section class="row">
            <article class="col-md-1 text-center">
            </article>



            <article class="col-md-10 text-center">
                <div class="card text-center">
                    <div class="card-header">
                      Add word
                    </div>
                    <div class="card-body">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <section class="row">
                                <article class="col-sm-6 text-center">
                                    <div class="form-group">
                                        
                                       
                                        {% render_field form.polish_word type="text" class="form-control text-center" placeholder="Polish word" %}

                                </article>
                                <article class="col-sm-6 text-center">    
                                        
                                        {% render_field form.spanish_word type="text" class="form-control text-center"  placeholder="Spanish word" %}
                                </article>
                            </section>
                            <section class="row">
                                <article class="col-sm-12 text-center">
                                    <hr>
                                    <div class="form-group">
                                        
                                        
                                        {% render_field form.etymology type="text" class="form-control text-center"  placeholder="Etymology" %}
                                    </div>
                                    <hr>
                                </article>
                            </section>
                            <section class="row">
                                <article class="col-sm-4 text-center">
                                    <div class="form-group">
                                        <a href="#" class="btn btn-secondary">Italian</a>
                                    </div>
                                </article>
                                <article class="col-sm-4 text-center">
                                    <div class="form-group">
                                        <a href="#" class="btn btn-secondary">Portugese</a>
                                    </div>
                                </article>
                                <article class="col-sm-4 text-center">
                                    <div class="form-group">
                                        <a href="#" class="btn btn-secondary">Latin</a>
                                    </div>
                                </article>
                            </section>
                            <section class="row">
                                <article class="col-sm-12 text-center">
                                    <hr>
                                    <div class="form-group">
                                        
                                        {% render_field form.notes class="form-control text-center"  placeholder="Notes to word" rows="2" %}
                                    </div>
                                    <hr>
                                </article>
                            </section>
                            <button type="submit" class="btn btn-success ">Add word</button>
                            
                        </form>
                      
                    </div>
                    <footer class="card-footer">
                        Words added today
                    </footer>
                    <div class="card-body">
                        <section class="row">
                            <article class="col-sm-2 text-center bg-light">
                                
                                Spanish
                                
                            </article>
                            <article class="col-sm-2 text-center bg-white">
                                
                                Polish
                                
                            </article>
                            <article class="col-sm-2 text-center bg-light">
                                
                                Date
                                
                            </article>
                            <article class="col-sm-2 text-center bg-white">
                                
                                Hour
                                
                            </article>
                            <article class="col-sm-3 text-center bg-light">
                                
                                Details
                                
                            </article>
                        </section>
                        <hr>



                        {% for word in words %}
                        <section class="row">
                            <article class="col-sm-2 text-center bg-light">
                                
                                {{word.spanish_word}}
                                
                            </article>
                            <article class="col-sm-2 text-center bg-white">
                                <div class="form-group">
                                    {{word.polish_word}}
                                </div>
                            </article>
                            <article class="col-sm-2 text-center bg-light">
                                
                                {{word.date_added.date}}
                                
                            </article>
                            <article class="col-sm-2 text-center bg-white">
                                
                                {{ word.date_added|date:"H:i" }}
                            </article>
                            <article class="col-sm-3 text-center border border-white border-2">
                                <div class="btn-group dropup" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-success shadow-none btn-md dropdown-toggle text-center" data-bs-toggle="dropdown" aria-expanded="false">
                                      Options
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">View deatils</a></li>
                                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Edit</a></li>
                                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</a></li>
                                      
                                    </ul>

                                </div>
                            </article>
                        </section>


                        {% endfor %}

                    </div>
                </div>
            </article>




            <article class="col-md-1 text-center">
            </article>
        </section>
        
        
    

    </header>
{% endblock %}
