{% extends "clipboard/main.html" %}
{% load widget_tweaks %}
    {% block content %}
    
    <header class="container">
        
        <section class="row">
            <article class="col-md-1 text-center">
            </article>



            <article class="col-md-10 text-center">
                
                <div class="card text-center">
                    <div class="card-header text-white " style="background-color:#01055c"  >
                        Deleted words
                    </div>
                    <form method="POST" action="{% url 'hard_delete_words' %}">
                        {% csrf_token %}
                        
                            <input type="text" class="form-control mt-2 text-center" placeholder="Write 'delete' to delete all words from trash can" name="delete_all_confirm" >
                            
                        <button name='delete_all' value="1" type="submit" class="btn bg-danger text-white mt-2">Delete all</button>    
                        
                        
                            
                          
                        
                    </form>
                    <div class="card-body">
                        <section class="row">
                            <article class="col-4 text-center bg-light">
                                
                                Spanish
                                
                            </article>
                            <article class="col-4 text-center bg-white">
                                
                                Polish
                                
                            </article>
                            <article class="col-3 text-center bg-light">
                                
                                Date
                                
                            </article>
                            <!--
                            <article class="col-2 text-center bg-white">
                                
                                Hour
                                
                            </article>
                        -->
                            <article class="col-1 text-center bg-white">
                                
                                &#x20
                                
                            </article>
                        </section>
                        <hr>



                        {% for word in words %}
                        <section class="row">
                            <article class="col-4 text-center bg-light">
                                
                                {{word.spanish_word}}
                                
                            </article>
                            <article class="col-4 text-center bg-white">
                                <div class="form-group">
                                    {{word.polish_word}}
                                </div>
                            </article>
                            <article class="col-3 text-center bg-light">
                                
                                {{word.date_added.date}}
                                
                            </article>
                            <!--
                            <article class="col-2 text-center bg-white">
                                
                                {{ word.date_added|date:"H:i" }}
                            </article>
                            -->
                            <article class="col-1 text-center border border-white border-2">
                                
                                <div class="dropdown ">
                                    <div class="d-grid" style="border: 3px solid rgba(255, 255, 255, 0)">
                                        <a class="btn btn-sm btn-success dropdown-toggle text-white fw-bold p-1 " style="background-color:#ff9c00" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                            &#x20
                                        </a>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                      <li><a class="dropdown-item badge bg-success p-2 text-white mb-1" href="{% url 'retrive_word' word.id %}">Retrive word</a></li>
                                      
                                      <li><a class="dropdown-item badge  bg-danger p-2 text-white" href="{% url 'delete_word' word.id %}">Delete</a></li>
                                    </ul>
                                  </div>
                                </div>
                            </article>
                        </section>


                        {% endfor %}

                    </div>
                </div>
            </article>

            <section class="row mb-5" >
                <article class="col-sm-12 text-center " style="background-color: #aa151b">  
                </article>
            </section> 


            <article class="col-md-1 text-center">
            </article>
        </section>
        
        
    

    </header>
{% endblock %}
