{% extends "clipboard/main.html" %}
{% load widget_tweaks %}
    {% block content %}
    
    <header class="container">
        
        <section class="row">
            <article class="col-md-1 text-center">
            </article>



            <article class="col-md-10 text-center">
                <div class="card text-center">
                    <div class="card-header text-white " style="background-color:#01055c"  >
                      Edit word
                      
                      
                    </div>
                    <div class="card-body">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <section class="row">
                                <article class="col-sm-6 text-center">
                                    <div class="form-group">
                                        
                                       
                                        {% render_field form.polish_word type="text" class="form-control text-center" placeholder="Polish word" %}

                                </article>
                                <article class="col-sm-6 text-center">    
                                        
                                        {% render_field form.spanish_word type="text" class="form-control text-center"  placeholder="Spanish word" %}
                                </article>
                            </section>
                            <section class="row">
                                <article class="col-sm-12 mt-2 mb-2 text-center">
                                    
                                    
                                    <p>Find translation</p>
                                    {% if form.polish_word.value %}
                                    <a href="https://context.reverso.net/translation/polish-spanish/{{form.polish_word.value}}" target="_blank" class="btn btn-secondary text-white fw-bold" style="background-color:#ff9c00">Polish &#8594 Spanish</a>
                                    {% endif %}
                                    {% if form.spanish_word.value %}
                                    <a href="https://context.reverso.net/translation/spanish-polish/{{form.spanish_word.value}}" target="_blank" class="btn btn-secondary text-white fw-bold" style="background-color:#ff9c00">Spanish &#8594 Polish</a>
                                    {% endif %}
                                    <div class="form-group mt-2 mb-2 ">
                                        
                                        
                                        {% render_field form.etymology type="text" class="form-control text-center"  placeholder="Etymology" %}
                                        
                                    </div>
                                    
                                    
                                    {% if form.spanish_word.value %}
                                    <a href="http://etimologias.dechile.net/?{{form.spanish_word.value}}" target="_blank" class="btn btn-secondary mb-2 mt-2 text-white fw-bold" style="background-color:#ff9c00">Find etymology</a>
                                    {% else %}
                                    <p>To find etymology add Spanish word and Save word</p>
                                    {% endif %}
                                    
                                </article>
                            </section>
                            <section class="row mt-2 mb-2 d-none">
                                {% if form.spanish_word.value %}
                                <article class="col-sm-6   text-center">
                                    
                                    <div class="form-group">
                                        
                                        <a href="https://context.reverso.net/translation/spanish-italian/{{form.spanish_word.value}}" target="_blank" class="btn btn-secondary text-white fw-bold" style="background-color:#ff9c00">Italian</a>

                                    </div>
                                </article>
                                <article class="col-sm-6 text-center">
                                    <div class="form-group">
                                        <a href="https://context.reverso.net/translation/spanish-portuguese/{{form.spanish_word.value}}" target="_blank" class="btn btn-secondary text-white fw-bold" style="background-color:#ff9c00">Portuguese</a>
                                    </div>
                                </article>
                                
                            </section>
                                {% else %}
                            </section>
                            
                                <article class="col-sm-12 text-center">
                                    <p> To find translation to Italian and Portuguese populate Spanish word field and Save word</p>
                            </article>
                                
                            {% endif %}
                            <section class="row">
                                <article class="col-sm-12 text-center">
                                    
                                    <div class="form-group">
                                        
                                        {% render_field form.notes class="form-control text-center"  placeholder="Notes to word" rows="2" %}
                                    </div>
                                    <hr>
                                </article>
                            </section>
                            <section class="row">
                                <article class="col-sm-12 justify-content-md-end">
                                

                                    <div style="border: 5px solid rgba(255, 255, 255, 0)">
                                        <button type="submit" class="btn btn-success " name='redirect'> &#8592 &#x1F4BE  Save word and go back</button>
                                        <button type="submit" class="btn btn-success "> &#x1F4BE  Save word and stay</button>
                                    
                                    </div>
                                    <hr>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-start">    
                                    <a type="submit" class="btn btn-secondary text-white fw-bold" style="background-color:#ff9c00" href="{% url 'add_word' %}">&#8592 Go back</a>
                                    
                                </div>
                                </article>    
                            </section>
                        </form>
                        
                    </div>
                    
                 
                </div>
                  
            </article>

            <section class="row mb-5" >
                <article class="col-sm-12 text-center">  
                </article>
            </section> 


            <article class="col-md-1 text-center">
            </article>
        </section>
        
        
    

    </header>


    {% endblock %}
