<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <title>Sign-in</title>
</head>
<body style="background-color: #fff2cc">
    <div style="height: 100px;">
    <section class="row h-50 d-inline-block" >
        <div class="col-12">
        
        </div>
    </section>
    </div>
<section class="row">
    
    <div class="col-3">
        
    </div>

    <div class="col-6">
 
        <div class="card text-center  bg-light mb-3">
            <div class="card-header text-white" style="background-color: #01055c">Sign in</div>
            <div class="card-body">
            
                Recomended:<br>
                <a class="btn btn-danger mt-2" href="{% url 'add_word' %}">Use as demo user</a>
                <br>
                <br>
            <form method="POST" action="">
                {% csrf_token %}
            
                <input type="text" name='username' placeholder="Username">
                <input type="text" name='password' placeholder="Password">
                <button class="btn btn-success " style="background-color:#ff9c00" type="submit">Submit</button>
            </form>

            {% for message in messages %}
           <p>{{message}}</p>
            {% endfor %}
            
            If you don't have account: <br>
            <a class="btn btn-success mt-2" style="background-color:#ff9c00" href="{% url 'register' %}">Sign up</a>
             
            
            </div>
        </div>
    </div>

    <div class="col-3">
        
    </div>
</section>  


    
    
   


</body>
</html>