{% extends "clipboard/main.html" %}
{% load widget_tweaks %}
    {% block content %}
    
    <header class="container">
        
        <section class="row">
            <article class="col-md-1 text-center">
            </article>



            <article class="col-md-10 text-center">
                <div class="card text-center">
                    <div class="card-header">
                      View words added
                      <hr>
                      <a href="{% url 'view_words' hours=24 %}"  class="btn btn-secondary">In 24 hours</a>

                      <a href="{% url 'view_words' hours=24 %}"  class="btn btn-secondary">In week</a>
                      <a href="{% url 'view_words' hours=730 %}"  class="btn btn-secondary">In month</a>
                      <a href="{% url 'view_words' hours=8760 %}"  class="btn btn-secondary">In year</a>
                      <a href="{% url 'view_words' hours='all' %}"  class="btn btn-secondary">See all</a>
                      <hr>
                    </div>
                    
                    <footer class="card-footer">
                        Words added in 24 hours
                    </footer>
                    <div class="card-body">
                        <section class="row">
                            <article class="col-sm-2 text-center bg-light">
                                
                                Spanish
                                
                            </article>
                            <article class="col-sm-2 text-center bg-white">
                                
                                Polish
                                
                            </article>
                            <article class="col-sm-2 text-center bg-light">
                                
                                Date
                                
                            </article>
                            <article class="col-sm-2 text-center bg-white">
                                
                                Hour
                                
                            </article>
                            <article class="col-sm-3 text-center bg-light">
                                
                                Details
                                
                            </article>
                        </section>
                        <hr>



                        {% for word in words %}
                        <section class="row">
                            <article class="col-sm-2 text-center bg-light">
                                
                                {{word.spanish_word}}
                                
                            </article>
                            <article class="col-sm-2 text-center bg-white">
                                <div class="form-group">
                                    {{word.polish_word}}
                                </div>
                            </article>
                            <article class="col-sm-2 text-center bg-light">
                                
                                {{word.date_added.date}}
                                
                            </article>
                            <article class="col-sm-2 text-center bg-white">
                                
                                {{ word.date_added|date:"H:i" }}
                            </article>
                            <article class="col-sm-3 text-center border border-white border-2">
                                
                                <div class="dropdown">
                                    <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                      Options
                                    </a>
                                  
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                      <li><a class="dropdown-item" href="{% url 'view_word' word.id %}">View deatils</a></li>
                                      <li><a class="dropdown-item" href="{% url 'edit_word' word.id %}">Edit</a></li>
                                      <li><a class="dropdown-item" href="{% url 'delete_word' word.id %}">Delete</a></li>
                                    </ul>
                                  </div>
                            </article>
                        </section>


                        {% endfor %}

                    </div>
                </div>
            </article>




            <article class="col-md-1 text-center">
            </article>
        </section>
        
        
    

    </header>
{% endblock %}
