{% extends "clipboard/main.html" %}
{% load widget_tweaks %}
    {% block content %}
    
    <header class="container">
        
        <section class="row">
            <article class="col-md-1 text-center">
            </article>



            <article class="col-md-10 text-center">
                
                <div class="card text-center">
                    <div class="card-header text-white " style="background-color:#01055c"  >
                        View words added
                    </div>
                    
                    <div class="card-header">
                        <div class="text mt-2 mb-2 text-dark">
                      <a href="{% url 'view_words' hours=1 %}"  class="btn {% ifequal hours 1  %} btn-primary {% endifequal %} text-white fw-bold" {% if hours != 1  %}style="background-color:#ff9c00"{% endif %}>Today</a>

                      <a href="{% url 'view_words' hours=2 %}"  class="btn {% ifequal hours 2  %} btn-primary {% endifequal %} text-white fw-bold"  {% if hours != 2  %}style="background-color:#ff9c00"{% endif %}>Since yeasterday</a>
                      <a href="{% url 'view_words' hours=8 %}"  class="btn {% ifequal hours 8  %} btn-primary {% endifequal %} text-white fw-bold"  {% if hours != 8  %}style="background-color:#ff9c00"{% endif %}>In week</a>
                      <a href="{% url 'view_words' hours=31 %}"  class="btn {% ifequal hours 31  %} btn-primary {% endifequal %} text-white fw-bold"  {% if hours != 31  %}style="background-color:#ff9c00"{% endif %}>In month</a>
                      <a href="{% url 'view_words' hours=365 %}"  class="btn {% ifequal hours 365  %} btn-primary {% endifequal %} text-white fw-bold"  {% if hours != 365  %}style="background-color:#ff9c00"{% endif %}>In year</a>
                      <a href="{% url 'view_words' hours=0 %}"  class="btn {% ifequal hours 0  %} btn-primary {% endifequal %} text-white fw-bold"  {% if hours == 0 and not search_query != '' %}style="background-color:#1266F1"{% else %} style="background-color:#ff9c00" {% endif %}>See all</a>
                      

                        </div>
                    </div>    
                    <div class="card-header text-white " style="background-color:#01055c"  >
                        {% if not search_query %}
                        {% ifequal hours 0  %}All words{% endifequal %}
                        {% ifequal hours 1  %}Words added: Today{% endifequal %}
                        {% ifequal hours 2  %}Words added: Since yeasterday{% endifequal %}
                        {% ifequal hours 8  %}Words added: In week{% endifequal %}
                        {% ifequal hours 31  %}Words added: In month{% endifequal %}
                        {% ifequal hours 365  %}Words added: In year{% endifequal %}
                        {% else %}
                        Words with: "{{search_query}}"
                         
                        {% endif %}
                    </div>
                    <div class="card-header text-dark " style="font-size: 13px;" >
                        By typing date you can search for specific day (e.g. 2021-07-14), month (e.g. 2021-07), year (e.g. 2021)
                    </div>
                    <form class="d-flex ms-3 mt-3 me-3" method="GET" action='{% url "view_words" hours=0 %}'>
                        <input class="form-control  " type="search" value="{{search_query}}" placeholder="Search" aria-label="Search" name="search_query">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                      </form>
                    <div class="card-body">
                        <section class="row">
                            <article class="col-4 text-center bg-light">
                                
                                Spanish
                                
                            </article>
                            <article class="col-4 text-center bg-white">
                                
                                Polish
                                
                            </article>
                            <article class="col-3 text-center bg-light">
                                
                                Date
                                
                            </article>
                            <!--
                            <article class="col-2 text-center bg-white">
                                
                                Hour
                                
                            </article>
                        -->
                            <article class="col-1 text-center bg-white">
                                
                                &#x20
                                
                            </article>
                        </section>
                        <hr>



                        {% for word in words %}
                        <section class="row">
                            <article class="col-4 text-center bg-light">
                                
                                {{word.spanish_word}}
                                
                            </article>
                            <article class="col-4 text-center bg-white">
                                <div class="form-group">
                                    {{word.polish_word}}
                                </div>
                            </article>
                            <article class="col-3 text-center bg-light">
                                
                                {{word.date_added.date}}
                                
                            </article>
                            <!--
                            <article class="col-2 text-center bg-white">
                                
                                {{ word.date_added|date:"H:i" }}
                            </article>
                            -->
                            <article class="col-1 text-center border border-white border-2">
                                
                                <div class="dropdown ">
                                    <div class="d-grid" style="border: 3px solid rgba(255, 255, 255, 0)">
                                        <a class="btn btn-sm btn-success dropdown-toggle text-white fw-bold p-1 " style="background-color:#ff9c00" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                            &#x20
                                        </a>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                      <li><a class="dropdown-item badge mb-2 p-2 text-white" style="background-color:#ff9c00" href="{% url 'view_word' word.id %}" >View deatils</a></li>
                                      <li><a class="dropdown-item badge mb-2 p-2 text-white" style="background-color:#ff9c00" href="{% url 'edit_word' word.id %}">Edit</a></li>
                                      <li><a class="dropdown-item badge  bg-danger p-2 text-white" href="{% url 'delete_word' word.id %}">Delete</a></li>
                                    </ul>
                                  </div>
                                </div>
                            </article>
                        </section>


                        {% endfor %}

                    </div>
                </div>
            </article>

            <section class="row mb-5" >
                <article class="col-sm-12 text-center " style="background-color: #aa151b">  
                </article>
            </section> 


            <article class="col-md-1 text-center">
            </article>
        </section>
        
        
    

    </header>
{% endblock %}
