{% extends "clipboard/main.html" %}
{% load widget_tweaks %}
    {% block content %}
    
    <header class="container">
        
        <section class="row">
            <article class="col-md-1 text-center">
            </article>



            <article class="col-md-10 text-center">
                <div class="card text-center">
                    <div class="card-header text-white " style="background-color:#01055c"  >
                     Word details
                    </div>
                    <div class="card-body">
                        
                       
                        <section class="row">
                            <article class="col-sm-6 text-center">
                                <div class="form-group">
                                    
                                    
                                    {% render_field form.polish_word type="text" class="form-control text-center" placeholder="Polish word" %}

                            </article>
                            <article class="col-sm-6 text-center">    
                                    
                                    {% render_field form.spanish_word type="text" class="form-control text-center"  placeholder="Spanish word" %}
                            </article>
                        </section>
                        <section class="row">
                            <article class="col-sm-12 text-center">
                                <hr>
                                <div class="form-group">
                                    
                                    
                                    {% render_field form.etymology type="text" class="form-control text-center"  placeholder="Etymology" %}
                                </div>
                                <hr>
                            </article>
                        </section>
                        <section class="row">
                            <article class="col-sm-4 text-center">
                                <div class="form-group">
                                    <a href="#" class="btn text-white fw-bold" style="background-color:#ff9c00">Italian</a>
                                </div>
                            </article>
                            <article class="col-sm-4 text-center">
                                <div class="form-group">
                                    <a href="#" class="btn text-white fw-bold" style="background-color:#ff9c00">Portugese</a>
                                </div>
                            </article>
                            <article class="col-sm-4 text-center">
                                <div class="form-group">
                                    <a href="#" class="btn text-white fw-bold" style="background-color:#ff9c00">Latin</a>
                                </div>
                            </article>
                        </section>
                        <section class="row">
                            <article class="col-sm-12 text-center">
                                <hr>
                                <div class="form-group">
                                    
                                    {% render_field form.notes class="form-control text-center"  placeholder="Notes to word" rows="2" %}
                                </div>
                                <hr>
                            </article>
                        </section>
                    </div>
                            <div class="card-header text-white " style="background-color:#01055c"  >
                                    Creation date
                            </div>
                    <div class="card-body">    
                        <section class="row">
                            
                            <article class="col-sm-6 text-center bg-white">
                                <hr>
                                {{word_instance.date_added.date}}
                                <hr>
                            </article>
                            <article class="col-sm-6 text-center bg-white">
                                <hr>
                                {{ word_instance.date_added|date:"H:i" }}
                                <hr>
                            </article>
                            
                        </section>
                        
                        <article class="col-12 text-center">
                            
                        </article>
                    </section>
                      
                    </div>
                           

            
        <section class="row mb-5" >
            <article class="col-sm-12 text-center">  
            </article>
        </section> 
        
    

    </header>


    {% endblock %}
